<div class="navbar-fixed">
<nav>
        <div class="nav-wrapper">
          <a class="brand-logo center" id="title">Basketball Game</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
          </ul>
        </div>
</nav>
</div>