<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Basketball Game</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  </head>
  <body>
      <div class="container">
        <div class="card">
            <div class="card-image">
                <img src=<%=@gif_crossover_no%>>
            </div>
              <div class="card-content">
                <p class="card-text">You lost the ball kid. You failed your crossover and your opponent stole the ball.</p>
              </div>
                <div>
                <!--<div class="left-align" id="left-button">-->
                <!--  <a href="/"><button type="button" class="button-padding btn-large">Play Again!</button></a>-->
                <!--</div>-->
                <div style="text-align: center;">
                            <a href="/"><button type="button" class="button-padding btn-large">Play Again!</button></a>
                </div>
              </div>
        </div>
      </div>
      
  </body>
</html>