<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Basketball Game</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.1/js/materialize.min.js"></script>
  </head>
  <body>
      <%= erb :base%>
      <div class="container">
              <div class="card">
                <div class="responsive-img center" id="card-image">
                  <img src="http://upperdeckstore.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/8/2/82198_mj_spalding_bkb_slvr_sgfg.jpg">
                </div>
                <div class="card-text">
                  <p>Welcome to the best basketball game you will ever play!  You're playing as player1! Shake and bake your opponent to win!</p>
                                  <div>
                <!-- <div class="right-align" id="right-button">-->
                <!--  <a href="/defense"><button type="button" class="button-padding btn-large">Click Here to Play Defense!</button></a>-->
                <!--</div>-->
                <!--<div class="left-align" id="left-button">-->
                <!--  <a href="/start"><button type="button" class="button-padding btn-large">Click Here to Ball Out!</button></a>-->
                <!--</div>-->
                <div class="container">
        <div class="row">
            <div class="col s6">
              <a href="/start"><button type="button" class="button-padding btn-large">Click Here to Ball Out!</button></a>
            </div>
            <div class="col s6">
              <a href="/defense"><button type="button" class="button-padding btn-large">Click Here to Play Defense!</button></a>
            </div>
          
                </div>
                </div>

              </div>
           </div>
           
      </div>
      </div>
      
  </body>
</html>